.btn {
	display: inline-block;
	&-primary {
		border-radius: rem(6px);
		background-color: $color-blue;
		color: white;
		padding: rem(10px) rem(20px);
		font-weight: 600;
		font-size: rem(14px);
	}
	&-gray {
		background-color: #EEEEEE;
		border: none;
		box-shadow: none;
		outline: none;
		color: black;
		font-weight: 400;
	}
}