/* ---------------------------------------------------------------------------- */
/* --- HEADER
/* ----------------------------------------------------------------------------- */

#main-header {
	& > .container {
		& > .row {
			height: 100px;
			align-items: center;
			.menu {
				list-style-type: none;
				display: flex;
				padding: 0;
				li {
					margin: 0 15px;
					a {
						font-size: 0.85rem;
					}
				}
			}
		}
	}
	
}

