@charset 'UTF-8';
/* -----------------------------------------------------------------------------

Bombarda - Website Template

File:           Base SCSS File
Author:         Suelo

-------------------------------------------------------------------------------- */

// Import Libs
@forward 'include-media/dist/_include-media.scss';
@use 'include-media/dist/_include-media.scss' as *;
@forward 'sass-easing/_easings.scss';
@forward 'normalize-scss/sass/normalize/_import-now.scss';
@forward 'slick-carousel/slick/slick.scss';
//@forward 'mmenu-js/src/mmenu.scss';
@forward '../../node_modules/mmenu-js/dist/mmenu.css';


// Import Config
@forward 'variables';
@forward 'mixins';

// Import Icons

@forward '../../assets/fonts/icons';
@forward '../../assets/fonts/fonts';

// Import Styles
@forward 'animations';
@forward 'setup';
@forward 'basics';
@forward 'grid';
@forward 'header';
@forward 'sections';
@forward 'footer';
@forward 'elements';
@forward 'helpers';

// Import sections

@forward '_sections/sectionslider';
@forward '_sections/sectionwide';
@forward '_sections/sectionfollowus';
@forward '_sections/two-columns';
@forward '_sections/contactform';
@forward '_sections/contactdetails';

// Import pages
//@forward 'pages';

@include media('<=768px'){ 
	h2 {
		font-size: 1.5em !important;
		line-height: 1.2em !important;
	}	
}

.justify-content-between {
	justify-content: space-between;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}



.porto-icon-spin1:before { content: '\e800'; } /* 'î ' */
.porto-icon-spin2:before { content: '\e801'; } /* 'î ' */
.porto-icon-spin3:before { content: '\e802'; } /* 'î ' */
.porto-icon-spin4:before { content: '\e803'; } /* 'î ' */
.porto-icon-spin5:before { content: '\e804'; } /* 'î ' */
.porto-icon-spin6:before { content: '\e805'; } /* 'î ' */
.porto-icon-firefox:before { content: '\e806'; } /* 'î ' */
.porto-icon-chrome:before { content: '\e807'; } /* 'î ' */
.porto-icon-opera:before { content: '\e808'; } /* 'î ' */
.porto-icon-ie:before { content: '\e809'; } /* 'î ' */
.porto-icon-money:before { content: '\e80a'; } /* 'î ' */
.porto-icon-shipping:before { content: '\e80b'; } /* 'î ' */
.porto-icon-support:before { content: '\e80c'; } /* 'î ' */
.porto-icon-cart-thick:before { content: '\e80d'; } /* 'î ' */
.porto-icon-business-book:before { content: '\e80e'; } /* 'î ' */
.porto-icon-percent-shape:before { content: '\e80f'; } /* 'î ' */
.porto-icon-sale-label:before { content: '\e810'; } /* 'î ' */
.porto-icon-wishlist:before { content: '\e811'; } /* 'î ' */
.porto-icon-sale-discount:before { content: '\e812'; } /* 'î ' */
.porto-icon-phone-call:before { content: '\e813'; } /* 'î ' */
.porto-icon-angle-left:before { content: '\e819'; } /* 'î ' */
.porto-icon-angle-right:before { content: '\e81a'; } /* 'î ' */
.porto-icon-angle-up:before { content: '\e81b'; } /* 'î ' */
.porto-icon-angle-down:before { content: '\e81c'; } /* 'î ' */
.porto-icon-down-1:before { content: '\e81d'; } /* 'î ' */
.porto-icon-left-1:before { content: '\e81e'; } /* 'î ' */
.porto-icon-right-1:before { content: '\e81f'; } /* 'î ' */
.porto-icon-up-1:before { content: '\e820'; } /* 'î  ' */
.porto-icon-angle-double-left:before { content: '\e821'; } /* 'î Ą' */
.porto-icon-angle-double-right:before { content: '\e822'; } /* 'î ˘' */
.porto-icon-angle-double-up:before { content: '\e823'; } /* 'î Ł' */
.porto-icon-angle-double-down:before { content: '\e824'; } /* 'î ¤' */
.porto-icon-skype-1:before { content: '\e827'; } /* 'î §' */
.porto-icon-mail-alt-1:before { content: '\e82e'; } /* 'î Ž' */
.porto-icon-fax:before { content: '\e82f'; } /* 'î Ż' */
.porto-icon-lock:before { content: '\e830'; } /* 'î °' */
.porto-icon-company:before { content: '\e831'; } /* 'î ą' */
.porto-icon-city:before { content: '\e832'; } /* 'î ˛' */
.porto-icon-post:before { content: '\e833'; } /* 'î ł' */
.porto-icon-country:before { content: '\e834'; } /* 'î ´' */
.porto-icon-mobile-1:before { content: '\e837'; } /* 'î ˇ' */
.porto-icon-forward:before { content: '\e83d'; } /* 'î ˝' */
.porto-icon-cog:before { content: '\e83f'; } /* 'î ż' */
.porto-icon-cog-alt:before { content: '\e840'; } /* 'îĄ' */
.porto-icon-wrench:before { content: '\e841'; } /* 'îĄ' */
.porto-icon-quote-left:before { content: '\e842'; } /* 'îĄ' */
.porto-icon-quote-right:before { content: '\e843'; } /* 'îĄ' */
.porto-icon-gift-1:before { content: '\e844'; } /* 'îĄ' */
.porto-icon-euro:before { content: '\e846'; } /* 'îĄ' */
.porto-icon-pound:before { content: '\e847'; } /* 'îĄ' */
.porto-icon-rupee:before { content: '\e848'; } /* 'îĄ' */
.porto-icon-yen:before { content: '\e849'; } /* 'îĄ' */
.porto-icon-rouble:before { content: '\e84a'; } /* 'îĄ' */
.porto-icon-try:before { content: '\e84b'; } /* 'îĄ' */
.porto-icon-won:before { content: '\e84c'; } /* 'îĄ' */
.porto-icon-bitcoin:before { content: '\e84d'; } /* 'îĄ' */
.porto-icon-ok-1:before { content: '\e84e'; } /* 'îĄ' */
.porto-icon-users:before { content: '\e85b'; } /* 'îĄ' */
.porto-icon-video:before { content: '\e85c'; } /* 'îĄ' */
.porto-icon-desktop:before { content: '\e85e'; } /* 'îĄ' */
.porto-icon-doc-inv:before { content: '\e85f'; } /* 'îĄ' */
.porto-icon-circle:before { content: '\e860'; } /* 'îĄ ' */
.porto-icon-circle-thin:before { content: '\e862'; } /* 'îĄ˘' */
.porto-icon-paper-plane-1:before { content: '\e864'; } /* 'îĄ¤' */
.porto-icon-attention-alt:before { content: '\e865'; } /* 'îĄĽ' */
.porto-icon-compare-link:before { content: '\e867'; } /* 'îĄ§' */
.porto-icon-cat-default:before { content: '\e868'; } /* 'îĄ¨' */
.porto-icon-tag-line:before { content: '\e870'; } /* 'îĄ°' */
.porto-icon-bag:before { content: '\e871'; } /* 'îĄą' */
.porto-icon-search-1:before { content: '\e872'; } /* 'îĄ˛' */
.porto-icon-online-support:before { content: '\e877'; } /* 'îĄˇ' */
.porto-icon-shopping-bag:before { content: '\e878'; } /* 'îĄ¸' */
.porto-icon-us-dollar:before { content: '\e879'; } /* 'îĄš' */
.porto-icon-shipped:before { content: '\e87a'; } /* 'îĄş' */
.porto-icon-list:before { content: '\e87b'; } /* 'îĄť' */
.porto-icon-bag-2:before { content: '\e87f'; } /* 'îĄż' */
.porto-icon-grid:before { content: '\e880'; } /* 'î˘' */
.porto-icon-bag-3:before { content: '\e881'; } /* 'î˘' */
.porto-icon-direction:before { content: '\e882'; } /* 'î˘' */
.porto-icon-home:before { content: '\e883'; } /* 'î˘' */
.porto-icon-magnifier:before { content: '\e884'; } /* 'î˘' */
.porto-icon-magnifier-add:before { content: '\e885'; } /* 'î˘' */
.porto-icon-magnifier-remove:before { content: '\e886'; } /* 'î˘' */
.porto-icon-phone-1:before { content: '\e887'; } /* 'î˘' */
.porto-icon-clock-1:before { content: '\e888'; } /* 'î˘' */
.porto-icon-heart-1:before { content: '\e889'; } /* 'î˘' */
.porto-icon-earphones-alt:before { content: '\e88b'; } /* 'î˘' */
.porto-icon-credit-card:before { content: '\e88c'; } /* 'î˘' */
.porto-icon-action-undo:before { content: '\e88d'; } /* 'î˘' */
.porto-icon-envolope:before { content: '\e88e'; } /* 'î˘' */
.porto-icon-chart:before { content: '\e88f'; } /* 'î˘' */
.porto-icon-user-1:before { content: '\e8b9'; } /* 'î˘š' */
.porto-icon-shopping-cart:before { content: '\e8ba'; } /* 'î˘ş' */
.porto-icon-phone-2:before { content: '\e8bb'; } /* 'î˘ť' */
.porto-icon-check-circle:before { content: '\e8c1'; } /* 'îŁ' */
.porto-icon-arrow-right-solid:before { content: '\e8c4'; } /* 'îŁ' */
.porto-icon-check-solid:before { content: '\e8c5'; } /* 'îŁ' */
.porto-icon-category-home:before { content: '\e900'; } /* 'î¤' */
.porto-icon-category-motors:before { content: '\e901'; } /* 'î¤' */
.porto-icon-category-music:before { content: '\e902'; } /* 'î¤' */
.porto-icon-category-gifts:before { content: '\e903'; } /* 'î¤' */
.porto-icon-category-electronics:before { content: '\e904'; } /* 'î¤' */
.porto-icon-category-fashion:before { content: '\e905'; } /* 'î¤' */
.porto-icon-category-hot-deals:before { content: '\e906'; } /* 'î¤' */
.porto-icon-tag-percent:before { content: '\e907'; } /* 'î¤' */
.porto-icon-console:before { content: '\e908'; } /* 'î¤' */
.porto-icon-category-furniture:before { content: '\e909'; } /* 'î¤' */
.porto-icon-category-garden:before { content: '\e90a'; } /* 'î¤' */
.porto-icon-category-lanterns-lighting:before { content: '\e90b'; } /* 'î¤' */
.porto-icon-category-mechanics:before { content: '\e90c'; } /* 'î¤' */
.porto-icon-category-motorcycles:before { content: '\e90d'; } /* 'î¤' */
.porto-icon-category-sound-video:before { content: '\e90e'; } /* 'î¤' */
.porto-icon-category-steering:before { content: '\e90f'; } /* 'î¤' */
.porto-icon-category-external-accessories:before { content: '\e910'; } /* 'î¤' */
.porto-icon-category-fluids:before { content: '\e911'; } /* 'î¤' */
.porto-icon-category-internal-accessories:before { content: '\e912'; } /* 'î¤' */
.porto-icon-category-chains:before { content: '\e913'; } /* 'î¤' */
.porto-icon-category-frames:before { content: '\e914'; } /* 'î¤' */
.porto-icon-category-pedals:before { content: '\e915'; } /* 'î¤' */
.porto-icon-category-saddle:before { content: '\e916'; } /* 'î¤' */
.porto-icon-category-tools:before { content: '\e917'; } /* 'î¤' */
.porto-icon-search-4:before { content: '\e918'; } /* 'î¤' */
.porto-icon-secure-payment:before { content: '\e919'; } /* 'î¤' */
.porto-icon-user-2:before { content: '\e91a'; } /* 'î¤' */
.porto-icon-wishlist-2:before { content: '\e91b'; } /* 'î¤' */
.porto-icon-gift2:before { content: '\e91c'; } /* 'î¤' */
.porto-icon-edit:before { content: '\e91d'; } /* 'î¤' */
.porto-icon-chef:before { content: '\e91e'; } /* 'î¤' */
.porto-icon-smiling-girl:before { content: '\e91f'; } /* 'î¤' */
.porto-icon-tshirt:before { content: '\e920'; } /* 'î¤ ' */
.porto-icon-boy-broad-smile:before { content: '\e921'; } /* 'î¤Ą' */
.porto-icon-smiling-baby:before { content: '\e922'; } /* 'î¤˘' */
.porto-icon-menu-button-of-three-lines-outline:before { content: '\e923'; } /* 'î¤Ł' */
.porto-icon-spinner:before { content: '\f110'; } /* 'ď' */
.porto-icon-sliders:before { content: '\f1de'; } /* 'ď' */
.porto-icon-shopping-basket:before { content: '\f291'; } /* 'ď' */
.porto-icon-long-arrow-alt-down:before { content: '\f309'; } /* 'ď' */
.porto-icon-long-arrow-alt-left:before { content: '\f30a'; } /* 'ď' */
.porto-icon-long-arrow-alt-right:before { content: '\f30b'; } /* 'ď' */
.porto-icon-long-arrow-alt-up:before { content: '\f30c'; } /* 'ď' */
.porto-icon-up-open:before { content: '\f800'; } /* 'ď ' */
.porto-icon-right-open:before { content: '\f801'; } /* 'ď ' */
.porto-icon-left-open:before { content: '\f802'; } /* 'ď ' */
.porto-icon-down-open:before { content: '\f803'; } /* 'ď ' */
.porto-icon-up-open-mini:before { content: '\f804'; } /* 'ď ' */
.porto-icon-right-open-mini:before { content: '\f805'; } /* 'ď ' */
.porto-icon-left-open-mini:before { content: '\f806'; } /* 'ď ' */
.porto-icon-down-open-mini:before { content: '\f807'; } /* 'ď ' */
.porto-icon-up-open-big:before { content: '\f808'; } /* 'ď ' */
.porto-icon-right-open-big:before { content: '\f809'; } /* 'ď ' */
.porto-icon-left-open-big:before { content: '\f80a'; } /* 'ď ' */
.porto-icon-down-open-big:before { content: '\f80b'; } /* 'ď ' */
.porto-icon-up-open-huge:before { content: '\f80c'; } /* 'ď ' */
.porto-icon-right-open-huge:before { content: '\f80d'; } /* 'ď ' */
.porto-icon-left-open-huge:before { content: '\f80e'; } /* 'ď ' */
.porto-icon-down-open-huge:before { content: '\f80f'; } /* 'ď ' */
.porto-icon-basket:before { content: '\f814'; } /* 'ď ' */
.porto-icon-mini-cart:before { content: '\f815'; } /* 'ď ' */
.porto-icon-heart:before { content: '\f816'; } /* 'ď ' */
.porto-icon-search:before { content: '\f818'; } /* 'ď ' */
.porto-icon-cancel:before { content: '\f819'; } /* 'ď ' */
.porto-icon-cancel-mini:before { content: '\f81a'; } /* 'ď ' */
.porto-icon-up-dir:before { content: '\f820'; } /* 'ď  ' */
.porto-icon-right-dir:before { content: '\f821'; } /* 'ď Ą' */
.porto-icon-left-dir:before { content: '\f822'; } /* 'ď ˘' */
.porto-icon-down-dir:before { content: '\f823'; } /* 'ď Ł' */
.porto-icon-phone:before { content: '\f824'; } /* 'ď ¤' */
.porto-icon-pencil:before { content: '\f825'; } /* 'ď Ľ' */
.porto-icon-pencil-mini:before { content: '\f826'; } /* 'ď Ś' */
.porto-icon-menu:before { content: '\f827'; } /* 'ď §' */
.porto-icon-location:before { content: '\f828'; } /* 'ď ¨' */
.porto-icon-mail:before { content: '\f829'; } /* 'ď Š' */
.porto-icon-clock:before { content: '\f82a'; } /* 'ď Ş' */
.porto-icon-ok:before { content: '\f82b'; } /* 'ď Ť' */
.porto-icon-plus-squared-alt:before { content: '\f82c'; } /* 'ď Ź' */
.porto-icon-minus-squared-alt:before { content: '\f82d'; } /* 'ď ­' */
.porto-icon-plus-squared:before { content: '\f82e'; } /* 'ď Ž' */
.porto-icon-minus-squared:before { content: '\f82f'; } /* 'ď Ż' */
.porto-icon-truck:before { content: '\f830'; } /* 'ď °' */
.porto-icon-dollar:before { content: '\f831'; } /* 'ď ą' */
.porto-icon-lifebuoy:before { content: '\f832'; } /* 'ď ˛' */
.porto-icon-facebook:before { content: '\f833'; } /* 'ď ł' */
.porto-icon-twitter:before { content: '\f834'; } /* 'ď ´' */
.porto-icon-linkedin-squared:before { content: '\f835'; } /* 'ď ľ' */
.porto-icon-pinterest:before { content: '\f836'; } /* 'ď ś' */
.porto-icon-gplus:before { content: '\f837'; } /* 'ď ˇ' */
.porto-icon-youtube:before { content: '\f838'; } /* 'ď ¸' */
.porto-icon-th:before { content: '\f839'; } /* 'ď š' */
.porto-icon-th-list:before { content: '\f83a'; } /* 'ď ş' */
.porto-icon-chart-bar:before { content: '\f83b'; } /* 'ď ť' */
.porto-icon-heart-empty:before { content: '\f83c'; } /* 'ď ź' */
.porto-icon-instagram:before { content: '\f83d'; } /* 'ď ˝' */
.porto-icon-up:before { content: '\f840'; } /* 'ďĄ' */
.porto-icon-right:before { content: '\f841'; } /* 'ďĄ' */
.porto-icon-down:before { content: '\f842'; } /* 'ďĄ' */
.porto-icon-left:before { content: '\f843'; } /* 'ďĄ' */
.porto-icon-star:before { content: '\f844'; } /* 'ďĄ' */
.porto-icon-star-empty:before { content: '\f845'; } /* 'ďĄ' */
.porto-icon-ok-circled:before { content: '\f846'; } /* 'ďĄ' */
.porto-icon-cancel-circled:before { content: '\f847'; } /* 'ďĄ' */
.porto-icon-help-circled:before { content: '\f848'; } /* 'ďĄ' */
.porto-icon-info-circled:before { content: '\f849'; } /* 'ďĄ' */
.porto-icon-attention:before { content: '\f84a'; } /* 'ďĄ' */
.porto-icon-mobile:before { content: '\f84b'; } /* 'ďĄ' */
.porto-icon-mail-alt:before { content: '\f84c'; } /* 'ďĄ' */
.porto-icon-skype:before { content: '\f84d'; } /* 'ďĄ' */
.porto-icon-doc:before { content: '\f84e'; } /* 'ďĄ' */
.porto-icon-user:before { content: '\f850'; } /* 'ďĄ' */
.porto-icon-help:before { content: '\f851'; } /* 'ďĄ' */
.porto-icon-info:before { content: '\f852'; } /* 'ďĄ' */
.porto-icon-help-circled-alt:before { content: '\f853'; } /* 'ďĄ' */
.porto-icon-info-circled-alt:before { content: '\f854'; } /* 'ďĄ' */
.porto-icon-chevron-left:before { content: '\f855'; } /* 'ďĄ' */
.porto-icon-chevron-right:before { content: '\f856'; } /* 'ďĄ' */
.porto-icon-reply:before { content: '\f857'; } /* 'ďĄ' */
.porto-icon-paper-plane:before { content: '\f858'; } /* 'ďĄ' */
.porto-icon-magnify:before { content: '\f859'; } /* 'ďĄ' */
.porto-icon-zoom-in:before { content: '\f85a'; } /* 'ďĄ' */
.porto-icon-zoom-out:before { content: '\f85b'; } /* 'ďĄ' */
.porto-icon-chat:before { content: '\f860'; } /* 'ďĄ ' */
.porto-icon-folder:before { content: '\f861'; } /* 'ďĄĄ' */
.porto-icon-folder-open:before { content: '\f862'; } /* 'ďĄ˘' */
.porto-icon-tag:before { content: '\f863'; } /* 'ďĄŁ' */
.porto-icon-tags:before { content: '\f864'; } /* 'ďĄ¤' */
.porto-icon-calendar:before { content: '\f865'; } /* 'ďĄĽ' */
.porto-icon-circle-empty:before { content: '\f870'; } /* 'ďĄ°' */
.porto-icon-shirt:before { content: '\f871'; } /* 'ďĄą' */
.porto-icon-computer:before { content: '\f872'; } /* 'ďĄ˛' */
.porto-icon-toys:before { content: '\f873'; } /* 'ďĄł' */
.porto-icon-garden:before { content: '\f874'; } /* 'ďĄ´' */
.porto-icon-couch:before { content: '\f875'; } /* 'ďĄľ' */
.porto-icon-sports:before { content: '\f876'; } /* 'ďĄś' */
.porto-icon-gift:before { content: '\f877'; } /* 'ďĄˇ' */
.porto-icon-eye:before { content: '\f878'; } /* 'ďĄ¸' */
.porto-icon-export:before { content: '\f879'; } /* 'ďĄš' */
.porto-icon-bag-4:before { content: '\f87a'; } /* 'ďĄş' */
.porto-icon-search-3:before { content: '\f87b'; } /* 'ďĄť' */
.porto-icon-check:before { content: '\f87c'; } /* 'ďĄź' */
.porto-icon-check-empty:before { content: '\f87d'; } /* 'ďĄ˝' */
.porto-icon-search-2:before { content: '\f880'; } /* 'ď˘' */
.porto-icon-bag-1:before { content: '\f881'; } /* 'ď˘' */
.porto-icon-plus:before { content: '\f882'; } /* 'ď˘' */
.porto-icon-minus:before { content: '\f883'; } /* 'ď˘' */