@charset 'UTF-8';
/* -----------------------------------------------------------------------------

Bombarda - Website Template

File:           Base SCSS File
Author:         Suelo

-------------------------------------------------------------------------------- */

// Import Libs
@forward 'include-media/dist/_include-media.scss';
@use 'include-media/dist/_include-media.scss' as *;
@forward 'sass-easing/_easings.scss';
@forward 'normalize-scss/sass/normalize/_import-now.scss';
@forward 'slick-carousel/slick/slick.scss';
//@forward 'mmenu-js/src/mmenu.scss';
@forward '../../node_modules/mmenu-js/dist/mmenu.css';


// Import Config
@forward 'variables';
@forward 'mixins';

// Import Icons
@forward '../../assets/fonts/icons';
@forward '../../assets/fonts/fonts';

// Import Styles
@forward 'animations';
@forward 'setup';
@forward 'basics';
@forward 'grid';
@forward 'header';
@forward 'sections';
@forward 'footer';
@forward 'elements';
@forward 'helpers';

// Import pages
//@forward 'pages';

@include media('<=768px'){ 
	h2 {
		font-size: 1.5em !important;
		line-height: 1.2em !important;
	}	
}