

@font-face {
  font-family:"Icons";
  src:url("../../assets/fonts/icons-e467d85b9f3eb5704d00bd55eb8a2b52.woff2?e467d85b9f3eb5704d00bd55eb8a2b52") format("woff2"),
		url("../../assets/fonts/icons-e467d85b9f3eb5704d00bd55eb8a2b52.woff?e467d85b9f3eb5704d00bd55eb8a2b52") format("woff");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Porto";
  src:url("../../assets/fonts/porto-icons.woff2") format("woff2");
  font-weight:normal;
  font-style:normal;
}

$icons: (

  dribble: "f101",
  facebook-f: "f102",
  facebook-square: "f103",
  fb: "f104",
  flickr: "f105",
  google-plus-g: "f106",
  google-plus-square: "f107",
  google: "f108",
  inst: "f109",
  instagram: "f10a",
  li: "f10b",
  linked: "f10c",
  linkedin-in: "f10d",
  linkedin: "f10e",
  logo: "f10f",
  pinterest: "f110",
  reddit: "f111",
  search: "f112",
  skype: "f113",
  telegram-plane: "f114",
  tumblr: "f115",
  twitter-square: "f116",
  twitter: "f117",
  vimeo-v: "f118",
  vk: "f119",
  whatsapp: "f11a",
  xing: "f11b",
  yelp: "f11c",
  youtube-square: "f11d",
  youtube: "f11e",
);

@mixin icon($icon) {
  font-family: "Icons";
  $code: map-get($icons, $icon);
  content: unquote('\'\\#{ $code }\'');
}

[class^="porto-icon-"] {
    font-family: 'Porto' !important;
    speak: never;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i {
  font-family: "Icons";
  display:inline-block;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


.i-dribble:before {
  @include icon(dribble);
}

.i-facebook-f:before {
  @include icon(facebook-f);
}

.i-facebook-square:before {
  @include icon(facebook-square);
}

.i-fb:before {
  @include icon(fb);
}

.i-flickr:before {
  @include icon(flickr);
}

.i-google-plus-g:before {
  @include icon(google-plus-g);
}

.i-google-plus-square:before {
  @include icon(google-plus-square);
}

.i-google:before {
  @include icon(google);
}

.i-inst:before {
  @include icon(inst);
}

.i-instagram:before {
  @include icon(instagram);
}

.i-li:before {
  @include icon(li);
}

.i-linked:before {
  @include icon(linked);
}

.i-linkedin-in:before {
  @include icon(linkedin-in);
}

.i-linkedin:before {
  @include icon(linkedin);
}

.i-logo:before {
  @include icon(logo);
}

.i-pinterest:before {
  @include icon(pinterest);
}

.i-reddit:before {
  @include icon(reddit);
}

.i-search:before {
  @include icon(search);
}

.i-skype:before {
  @include icon(skype);
}

.i-telegram-plane:before {
  @include icon(telegram-plane);
}

.i-tumblr:before {
  @include icon(tumblr);
}

.i-twitter-square:before {
  @include icon(twitter-square);
}

.i-twitter:before {
  @include icon(twitter);
}

.i-vimeo-v:before {
  @include icon(vimeo-v);
}

.i-vk:before {
  @include icon(vk);
}

.i-whatsapp:before {
  @include icon(whatsapp);
}

.i-xing:before {
  @include icon(xing);
}

.i-yelp:before {
  @include icon(yelp);
}

.i-youtube-square:before {
  @include icon(youtube-square);
}

.i-youtube:before {
  @include icon(youtube);
}
