

@font-face {
  font-family:"Icons";
  src:url("../../assets/fonts/icons-95f13546d37d3f5173aaa8ff19dd2355.woff2?95f13546d37d3f5173aaa8ff19dd2355") format("woff2"),
		url("../../assets/fonts/icons-95f13546d37d3f5173aaa8ff19dd2355.woff?95f13546d37d3f5173aaa8ff19dd2355") format("woff");
  font-weight:normal;
  font-style:normal;
}


$icons: (

  dribble: "f101",
  fb: "f102",
  inst: "f103",
  li: "f104",
  linked: "f105",
  logo: "f106",
);

@mixin icon($icon) {
  font-family: "Icons";
  $code: map-get($icons, $icon);
  content: unquote('\'\\#{ $code }\'');
}

.i {
  font-family: "Icons";
  display:inline-block;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


.i-dribble:before {
  @include icon(dribble);
}

.i-fb:before {
  @include icon(fb);
}

.i-inst:before {
  @include icon(inst);
}

.i-li:before {
  @include icon(li);
}

.i-linked:before {
  @include icon(linked);
}

.i-logo:before {
  @include icon(logo);
}
