{#
  Title: Two lists
  Category: agis_blocks
  Icon: images-alt
  Keywords: list lists
  Mode: edit
  Align: full
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: false
  SupportsMultiple: true
#}

<section class="section two-lists" id="{{ block.id }}">
	<div class="container">
		<div class="row row-wrapper">
			<div class="col-12">
			{% for r in fields.row %}
				<div class="row row-content">
					<div class="col-md-5 col-content" data-animation="fade-in-left">
						<ul>
							{% for li in r.lista %}
								<li>{{ li.label }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-md-7 pos-relative">
						<div class="bg" style="background-image: url('{{ r.image.sizes.maxviewport }}')" data-animation="fade-in-right" data-animation-delay="200"></div>
					</div>
				</div>
			{% endfor %}
			</div>
	    </div>
	</div>
</section>
