.section {
	&-footer {
		background-color: #F9FAFB;
		padding-top: 10px;
		& > .container {
			& > .row:first-child {
				position: relative;
				padding-top: 50px;
				&:before {
					content: "";
					background-color: #D2D5DA;
					height: 1px;
					position: absolute;
					top: 20px;
					left: 15px;
					right: 15px;
				}
			}
		}
		.columninfo {
			color: #6D7280;
			font-size: rem(12px);
			line-height: 1.5em;
			@include media('<=768px'){
				width: 100%;
				text-align: center;
			}
			i {
				margin-bottom: 0.5em;
				font-size: 30px;
				display: block;
			}
		}
		@include media('<=768px'){
			.col {
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
			}
			.col-auto {
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
			}
		}
		.copyright {
			text-align: center;
			color: #6D7280;
			padding: 10px 15px 25px 15px;
			font-size: rem(12px);
			font-weight: 500;
		}
		.column-center {
			text-align: center;
			.menu {
				list-style-type: none;
				display: inline-flex;
				padding: 0;
				margin: 0;
				li {
					margin: 0 10px;
					a {
						font-size: rem(12);
					}
					&.current_page_item {
						a {
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}