.section {
	&-map {
		& > .container {
			position: relative;
			@include media('>1200px'){
				padding-left: 40px;
				padding-right: 40px;
			}
			padding-bottom: 70px;
			@include media('<=768px'){
				padding-bottom: 10px;	
			}
			&:before {
				content: "";
				background-image: url("/assets/img/bigicon.svg");
				background-size: 100% auto;
				background-repeat: no-repeat;
				background-position: center top;
//				background-color: #f6f6f6;
				position: absolute;
				top: -100%;
				height: 200%;
				right: 0;
				left: 0;
				z-index: -1;
				@include media('<=768px'){
					top: -50%;
				}
			}
		}
		&[beztla="1"]{
			& > .container {
				&:before {
					content: none;
				}
			}
		}
	}
}