.section {
	&.slider {
		& > .container {
			& > .row {
				height: 600px;
				.wrapper {
					height: 100%;
					position: relative;
					display: flex;
					justify-content: flex-end;
					flex-direction: column;
					.captions {
						padding-left: 100px;
						padding-bottom: 100px;
						position: relative;
						z-index: 9;
						display: flex;
						flex-direction: column;
						color: white;
						h1, h2 {
							margin: 0;
							color: white;
						}
						h1 {
							text-transform: uppercase;
							margin-bottom: 10px;
						}
						h2 {
							font-weight: 400;
						}
						.buttons {
							margin-top: 50px;
							font-size: rem(14px);
							font-weight: 600;
							.btn {
								margin-right: 30px;
							}
						}
						@include media('<=768px'){
							padding-left: 20px;
							padding-bottom: 20px;
						}
					}
					.absolute {
						position: absolute;
						top: 0; 
						left: 0;
						right: 0;
						bottom: 0;
						.slider-slick {
							height: 100%;
							.slick-list, .slick-track {
								height: 100%;
							}
							.slick-dots {
								position: absolute;
								bottom: 30px;
								left: 50%;
								transform: translateX((-50px));
								list-style-type: none;
								padding: 0;
								display: flex;
								margin: 0;
								li {
									margin-left: 5px;
									margin-right: 5px;
									button {
										border: none;
										font-size: 1px;
										color: transparent;
										background-color: white;
										border-radius: 100%;
										width: rem(8px);
										height: rem(8px);
										max-width: rem(8px);
										max-height: rem(8px);
										padding: 0;
									}
									&.slick-active {
										button {
											background-color: $color-blue;
										}
									}
								}
							}
							.slide {
								height: 100%;
								position: relative;
								.slide-bg {
									background-size: cover;
									background-position: center center;
									position: absolute;
									left: 0; top: 0; right: 0; bottom: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}